.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400PX;

}
.imagem-carrossel-dois {
    object-fit: cover;
    height: 400PX;
}
.fonte-titulo {
    font-family: "Pacifico", cursive;

}
.cor-especial {
    color: darkred;
}
